/*---------- index ---------*/
.image_path{
    width: 50%;
    height: auto;
}


/*---------- add ----------*/


/*---------- edit ---------*/
.container_image_path{
    padding-top: 1%;
}
.image_path{
    width: 400px;
    height: auto;
}
